@page
@model proiect.Pages.CosCumparaturi.IndexModel
@{
    ViewData["Title"] = "Coș de cumpărături";
}
<div class="container-fluid">
    <h2 class="text-center mb-5">Coșul de cumpărături</h2>
    <div class="d-flex justify-content-between mt-4">
        <h4>Total: @Model.TotalPrice.ToString("0.00 RON")</h4>
        @if(Model.TotalPrice > 0)
        {
            <form method="post" asp-page-handler="Clear">
                <button type="submit" class="btn btn-sm btn-success">Catre plata</button>
            </form>
        }
    </div>
    <div class="d-grid gap-2">
        <a class='btn btn-secondary' href='/ViewProduse'>Inapoi la pagina</a>
    </div>
    <hr />
    @if (Model.CartItems.Count != 0)
    {
        <div class="row">
            @foreach (var produs in Model.CartItems)
            {
                <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                    <div class="card h-100 shadow-sm" style="max-width: 16rem;">
                        <img src="@($"http://localhost:3000/image/{produs.ImageName}")" class="card-img-top" alt="@produs.Model">
                        <hr />
                        <div class="card-body p-2">
                            <h5 class="card-title"><strong>@produs.Model</strong></h5>
                            <h6 class="card-text mb-1"><strong>Brand:</strong> @(produs.Brand)</h6>
                            <p class="card-text mb-1"><strong>Preț:</strong> @(produs.Pret) RON</p>
                            <p class="card-text mb-1"><strong>Memorie:</strong> @(produs.Memorie) GB</p>
                            <p class="card-text mb-1"><strong>Culoare:</strong> @(produs.Culoare)</p>
                            <hr />
                            <form method="post" asp-page-handler="Delete">
                                <input type="hidden" name="id" value="@produs.Id" />
                                <div class="d-flex justify-content-center">
                                    <div class="btn-group" role="group">
                                        <a href="/ViewProdus/?id=@produs.Id" class="btn btn-secondary">Vezi detalii</a>
                                        <button type="submit" class="btn btn-danger">Sterge</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
       
    }
    else
    {
        <div>
            <div class="alert alert-danger mx-auto" role="alert">
                Nu aveti produse in cos.
            </div>
        </div>
    }
</div>