@page
@model proiect.Pages.CosCumparaturi.IndexModel
@{
    ViewData["Title"] = "Coș de cumpărături";
}
<div class="container-fluid">
    <h2 class="text-center mb-5">Coșul de cumpărături</h2>
    <div class="d-grid gap-2">
        <a class='btn btn-secondary' href='/Telefoane/Index'>Inapoi la pagina</a>
    </div>
    @if (Model.CartItems.Count != 0)
    {
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Model</th>
                    <th>Preț</th>
                    <th>Memorie</th>
                    <th>Dimensiune</th>
                    <th>Brand</th>
                    <th>Descriere</th>
                    <th>Culoare</th>
                    <th>Stergere?</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                @foreach (var produs in Model.CartItems)
                {
                    <tr>
                        <td>@produs.Model</td>
                        <td>@produs.Pret</td>
                        <td>@produs.Memorie</td>
                        <td>@produs.Dimensiune</td>
                        <td>@produs.Brand</td>
                        <td>@produs.Descriere</td>
                        <td>@produs.Culoare</td>
                        <td>
                            <form method="post" asp-page-handler="Delete">
                                <input type="hidden" name="id" value="@produs.Id" />
                                <button type="submit" class="btn btn-sm btn-danger">Sterge</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="alert alert-danger mx-auto" role="alert">
                Nu aveti produse in cos.
            </div>
        </div>
    }
</div>
