@page
@model proiect.Pages.Telefoane.IndexModel
@{
    ViewData["Title"] = "Telefoane";
}

<form method="get" asp-page="/Telefoane/Index">
    <div class="form-group">
        <label for="nume">Nume:</label>
        <input type="text" class="form-control" id="nume" name="Nume">
    </div>
    <div class="form-group">
        <label for="pretMin">Preț Minim:</label>
        <input type="number" class="form-control" id="pretMin" name="PretMin">
    </div>
    <div class="form-group">
        <label for="pretMax">Preț Maxim:</label>
        <input type="number" class="form-control" id="pretMax" name="PretMax">
    </div>
    <div class="form-group">
        <label for="memorieMin">Memorie Minimă:</label>
        <input type="number" class="form-control" id="memorieMin" name="MemorieMin">
    </div>
    <div class="form-group">
        <label for="memorieMax">Memorie Maximă:</label>
        <input type="number" class="form-control" id="memorieMax" name="MemorieMax">
    </div>
    <div class="form-group">
        <label for="dimensiune">Dimensiune:</label>
        <input type="text" class="form-control" id="dimensiune" name="Dimensiune">
    </div>
    <button type="submit" class="btn btn-primary">Filtrează</button>
</form>

<div class="row mt-4">
    @foreach (var produs in Model.Produs)
    {
        <div class="col-md-3">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">@produs.Model</h5>
                    <p class="card-text">@(produs.Pret) RON</p>
                    <p class="card-text">Memorie: @(produs.Memorie) GB</p>
                    <p class="card-text">Dimensiune: @(produs.Dimensiune) mm</p>
                    <p class="card-text">Brand: @produs.Brand</p>
                    <p class="card-text">Descriere: @produs.Descriere</p>
                    <p class="card-text">Culoare: @produs.Culoare</p>
                    <p class="card-text">Stoc: @produs.Stoc</p>
                    <p class="card-text">Număr bucăți vândute: @produs.NrBucVandute</p>
                    <a href="#" class="btn btn-primary" onclick="addToCart(@produs.Id)">Adaugă în coș</a>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script>
        function addToCart(produsId) {
            fetch('/Telefoane/AddToCart', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
                },
                body: JSON.stringify({ id: produsId })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert('A apărut o eroare1. Încercați din nou');
                        // Actualizează UI-ul aici
                        let cartCountElement = document.getElementById('cart-count');
                        cartCountElement.innerText = parseInt(cartCountElement.innerText) + 1;
                    } else {
                        alert('A apărut o eroare. Încercați din nou.');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Produs adăugat în coș');
                });

        }
    </script>
}
