@page
@model proiect.Pages.ViewProduse
@{
    ViewData["Title"] = "Produse";
}
<div class="container-fluid mx-auto">
    <h1 class="text-center my-4">Telefoane</h1>
    <hr />
    <div class="accordion mb-4" id="filtrari-meniu">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#filtrari-meniu-data" aria-expanded="true" aria-controls="filtrari-meniu-data">
                    Filtrare produse
                </button>
            </h2>
            <div id="filtrari-meniu-data" class="accordion-collapse collapse" data-bs-parent="#filtrari-meniu">
                <div class="accordion-body">
                    <form method="get" asp-page="/Telefoane/Index">
                        <div class="mb-3">
                            <label for="brand" class="form-label">Brand:</label>
                            <input type="text" class="form-control" id="brand" name="Brand">
                        </div>

                        <div class="mb-3">
                            <label for="model" class="form-label">Model:</label>
                            <input type="text" class="form-control" id="model" name="Model">
                        </div>

                        <div class="mb-3">
                            <label for="culoare" class="form-label">Culoare:</label>
                            <input type="text" class="form-control" id="culoare" name="Culoare">
                        </div>

                        <div class="mb-3">
                            <label for="pretMin" class="form-label">Preț Minim:</label>
                            <input type="number" class="form-control" id="pretMin" name="PretMin">
                        </div>
                        <div class="mb-3">
                            <label for="pretMax" class="form-label">Preț Maxim:</label>
                            <input type="number" class="form-control" id="pretMax" name="PretMax">
                        </div>
                        <div class="mb-3">
                            <label for="memorieMin" class="form-label">Memorie Minimă:</label>
                            <input type="number" class="form-control" id="memorieMin" name="MemorieMin">
                        </div>
                        <div class="mb-3">
                            <label for="memorieMax" class="form-label">Memorie Maximă:</label>
                            <input type="number" class="form-control" id="memorieMax" name="MemorieMax">
                        </div>
                        <div class="mb-3">
                            <label for="dimensiune" class="form-label">Dimensiune:</label>
                            <input type="text" class="form-control" id="dimensiune" name="Dimensiune">
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Filtrează</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <hr />
    <div class="row mt-4">
        @if (Model.Produs.Count() == 0)
        {
            <div class="<div class=" col-md-3 col-sm-6 mb-4">
                <div class="alert alert-danger mx-auto role="alert">
                    Nu s-au găsit produse.
                </div>
            </div>

        }
        else
        {
            @foreach (var produs in Model.Produs)
            {
                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="card h-100 shadow-sm">
                        <img src="@($"http://localhost:3000/image/{produs.ImageName}")" class="card-img-top" alt="@produs.Model">

                        <div class="card-body">
                            <h4 class="card-title"><strong>@produs.Model</strong></h4>
                            <h6 class="card-text"><strong>Brand: </strong>@produs.Brand</h6>
                            <hr />
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><p class="card-text"><strong>Preț: </strong> @(produs.Pret) RON</p></li>
                                <li class="list-group-item"> <p class="card-text"><strong>Memorie: </strong> @(produs.Memorie) GB</p></li>
                                <li class="list-group-item">
                                    <p>
                                        Disponibilitate:
                                        <strong>
                                            @if (produs.Stoc > 0)
                                            {
                                                <span class="text-success">În stoc</span>
                                            }
                                            else
                                            {
                                                <span class="text-danger">Nu este pe stoc</span>
                                            }
                                        </strong>
                                    </p>
                                </li>
                            </ul>

                            <div class="accordion" id="@($"prodDesc{produs.Id}")">
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#@($"prodDescExpand{produs.Id}")" aria-expanded="true" aria-controls="@($"prodDescExpand{produs.Id}")">
                                            Detalii produs
                                        </button>
                                    </h2>
                                    <div id="@($"prodDescExpand{produs.Id}")" class="accordion-collapse collapse" data-bs-parent="#@($"prodDesc{produs.Id}")">
                                        <div class="accordion-body">
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item"><p class="card-text"><strong>Dimensiune: </strong> @(produs.Dimensiune)</p></li>
                                                <li class="list-group-item"><p class="card-text"><strong>Culoare: </strong>@(produs.Culoare)</p></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="d-flex justify-content-center">
                                <div class="btn-group" role="group">
                                    <a href="/ViewProdus/?id=@produs.Id" class="btn btn-secondary">Vezi detalii</a>
                                    <button onclick="if (@produs.Stoc > 0) { addToCart(@produs.Id); }" class="btn btn-info" @(produs.Stoc == 0 ? "disabled" : "")>
                                        Adaugă în coș
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }

    </div>
    <!-- Butoanele de navigare între pagini -->
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                    <a class="page-link" href="?PageIndex=@i">@i</a>
                </li>
            }
        </ul>
    </nav>

</div>

@section Scripts {
    <script src="~/js/addToCart.js"></script>
}
