@page
@model proiect.Pages.ViewProdusModel
@{
    ViewData["Title"] = "Detalii produs";
}

<div class="container">
    <h2 class="text-center mb-5">Vizualizare produs @Model.Produs.Model</h2>
    <hr />
    <div class="d-grid gap-2">
        <a href="/ViewProduse" class="btn btn-secondary w-100">Inapoi <i class="bi bi-arrow-left-square"></i></a>
    </div>
    
    <hr />
    <div class="row">
        <div class="col-md-4">
            <img src="@($"http://localhost:3000/image/{Model.Produs.ImageName}")" alt="@Model.Produs.Model" class="img-fluid">
        </div>
        <div class="col-md-8">
            <h4>Model: <strong>@Model.Produs.Model</strong></h4>
            <h5>Brand: <strong>@Model.Produs.Brand</strong></h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><p>Culoare: <strong>@Model.Produs.Culoare</strong></p></li>
                <li class="list-group-item"><p>Memorie: <strong>@Model.Produs.Memorie GB</strong></p></li>
                <li class="list-group-item"><p>Dimensiuni: <strong>@Model.Produs.Dimensiune</strong></p></li>
                <li class="list-group-item"><p>Descriere: <strong>@Model.Produs.Descriere</strong></p></li>
                <li class="list-group-item"><p>Categorie: <strong>@Model.Produs.Categorie.Nume</strong></p></li>
                <li class="list-group-item">
                    <p>
                        Disponibilitate:
                        <strong>
                            @if (Model.Produs.Stoc > 0)
                            {
                                <span class="text-success">În stoc</span>
                            }
                            else
                            {
                                <span class="text-danger">Nu este pe stoc</span>
                            }
                        </strong>
                    </p>
                </li>
            </ul>    
            <h4>Pret: <strong>@Model.Produs.Pret LEI</strong></h4>
            <div class="d-grid gap-2">
                <button onclick="if (@Model.Produs.Stoc > 0) { addToCart(@Model.Produs.Id); }" class="btn btn-info" @(Model.Produs.Stoc == 0 ? "disabled" : "")>
                    Adaugă în coș <i class="bi bi-bag-plus"></i>
                </button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/addToCart.js"></script>
}

