@page
@model proiect.Pages.Admin.Produse.IndexModel
@{
    ViewData["Title"] = "Admin Produse";
}
<div class="container-fluid">
    <h2 class="text-center mb-5">Lista de produse</h2>

    <hr />

    <div class="d-grid gap-2">
        <a class='btn btn-success' href='/Admin/Produse/Create'>Produs Nou</a>
    </div>

    <hr />
    @if (Model.Produs.Count() == 0)
    {
        <div class="<div class=" col-md-3 col-sm-6 mb-4">
            <div class="alert alert-danger mx-auto role="alert">
                Nu s-au găsit produse.
            </div>
        </div>
    } else
    {
        <table class="table table-striped table-hover">
            <thead>
            <th>Brand</th>
            <th>Model</th>
            <th>Descriere</th>
            <th>Culoare</th>
            <th>Pret</th>
            <th>Memorie</th>
            <th>Dimensiune</th>
            <th>Categorie</th>
            <th>Imagine</th>
            <th>Stoc</th>
            <th>Buc vandute</th>
            <th>Actiuni</th>
            </thead>

            <tbody class="table-group-divider">

                @foreach (var produs in Model.Produs)
                {
                    <tr>
                        <td>@produs.Brand</td>
                        <td>@produs.Model</td>
                        <td>
                            <button type="button" class="btn btn-sm btn-info" data-bs-toggle="modal" data-bs-target="#prodDescModal-@produs.Id">Descriere</button>

                            

                        </td>
                        <td>@produs.Culoare</td>
                        <td>@(produs.Pret) RON</td>
                        <td>@(produs.Memorie) GB</td>
                        <td>@(produs.Dimensiune)</td>
                        <td>@(produs.Categorie.Nume)</td>
                        <td>@produs.ImageName</td>
                        <td>@produs.Stoc</td>
                        <td>@produs.NrBucVandute</td>
                        <td style="white-space:nowrap">
                            <button type="button" class="btn btn-sm btn-success" onclick="window.location.href='/Admin/Produse/Edit?id=@produs.Id'">Edit</button>
                            <button type="button" class="btn btn-sm btn-danger" onclick="window.location.href='/Admin/Produse/Delete?id=@produs.Id'">Delete</button>
                        </td>
                    </tr>
                    
                }

            </tbody>
        </table>

        @foreach (var produs in Model.Produs)
        {
            <div class="modal fade" id="prodDescModal-@produs.Id" tabindex="-1" aria-labelledby="prodDescModalLabel-@produs.Id" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="prodDescModalLabel-@produs.Id">Detalii produs</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>@produs.Descriere</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Închide</button>
                        </div>
                    </div>
                </div>
            </div>

        }
    }
    
</div>
